body {
  background-color: #ffffff;
  color: #000000;
  font-family: "SF Pro Display";
  line-height: 1.5;
}

header {padding: 10px;}

/* header {
  color: #f3f3f3;
  display: flex;
  justify-content: center;
  padding: 10px;
} */

.nav-links {
  display: flex;
  gap: 40px;
  justify-content: center;
  list-style: none;}

.nav-links a {
  text-decoration: none;
  color: #909090;
  font-size: 20px;
}


.aboutpage {margin: 40px 150px;}

.nav-links a:hover {color: #000000;}

h1 {
  font-size: 48px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 20px;
  letter-spacing: -1.5px;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  color: #999;
  margin-bottom: 30px;
}

.Bottom{margin: 140px; }

p {font-size: 18px; color: #000000;}

.aboutpage {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 80px 20px 80px 40px;
}

.aboutstuff {
  max-width: 500px;
}

.maxpicabout {
  width: 400px;
  max-width: 400px;
  height: auto;
}

.projects-row {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
}




.project-card img {
  width: 402px;
  height: 302px;
  border-radius: 10px;
  margin-bottom: 12px;
}

.project-card p {
  font-size: 18px;
  color: #999;
}

main.projects-page {
  max-width: 1200px; /* https://getbootstrap.com/docs/5.0/layout/breakpoints/ */
  width: 90%; 
  margin: 40px auto 80px; 
}


/* https://www.youtube.com/watch?v=b3xhm_2esTM */
.projects-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 40px; }

/* youtube video for help on this was stuck for odd reason. was not centering */

.project-card {
  flex: 250px;
  text-align: center;
}

.Bottom{
  text-align: left;
}


.project-card img {
  width: 100%; 
  height: auto; 
  border-radius: 10px;
  display: block;
  transition: transform 1s ease;
}
/* https://www.youtube.com/watch?v=VEHk5B78ACM help for the hover and Google Search */
.project-card:hover img {transform: translateY(-10px);box-shadow: 0 10px 10px #909090;}


/* 1600px is macbook pro screensize unless I am confusing this I had it at 1400 but it did not work on full screen. */
/* @media screen and (max-width: 1600px) {
    main {
    margin: 40px 40px;
  }

  .aboutpage {margin: 40px 150px;}

  main.projects-page {
    margin: 40px 80px;
    padding: 0px;
  }

  .projects-row {
    justify-content: flex-start;
    gap: 55px;
  }
}

@media screen and (max-width: 1410px) { */


/* https://getbootstrap.com/docs/5.0/layout/breakpoints/ */
/* I used the website above for breakpoints  */
/* 576px */

/* @media screen and (max-width: 900px) {

  h1 {
  color: #200000;
  }

  .aboutpage {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 80px 20px 80px 40px;
  }

  .maxpicabout {
    width: 400px;
    max-width: 400px;
  }

  .projects-row {
    flex-direction: column;
    align-items: center;
  }

} */


/* @media screen and (max-width: 600px) {
  .projects-container {gap: 30px;}
  .project-card {flex: 0 1 100%;}
} */

/* 768px is like the medium so I use this as the phone screen */

/* I spent 30 mins not understanding that you cannot do and() it needs space. Brain did not Brain*/

 @media screen and (max-width: 768px) {.projects-container {flex-direction: column; 
  align-items: center;}}

/* needed to understand more used https://www.youtube.com/watch?v=GteJWhCikCk,https://www.youtube.com/watch?v=sanswTlz4ZY, */


/* project 1 CSS */

.long {
  width: 100%;
  height: auto;
  display: block; 
}

.Half {
  text-align: center;
  padding: 60px 20px;
}

.Half h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #000;
}

.Half p {
  max-width: 700px;
  margin: 0 auto 60px auto; 
  font-size: 18px;
  line-height: 1.6;
}

.Banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.UI {
  width: 100%;
  max-width: 700px; 
  height: auto;
  display: block;
}

/* vscode autofilled the stuff after padding like inside the .robotaxiapppng */
.robotaxiapppng {padding-top: 20px;
 width: 100%;
 height: auto;
 display: block; }

 .cavavideo {padding-top: 20px;}

 .attra p {color: #909090; font-size: 20px; text-align: center;}


@media screen and (max-width: 768px) {}