body {
  background-color: #ffffff;
  color: #000000;
  font-family: Inter, "DM Sans", "SF Pro Display","Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

header {padding: 10px;}

.nav-links {
  display: flex;
  gap: 40px;
  justify-content: center;
  list-style: none;}

.nav-links a {
  text-decoration: none;
  color: #909090;
  font-size: 20px;
}

.nav-links a:hover {color: #000000;}

h1 {
  font-size: 48px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 20px;
  letter-spacing: -1.5px;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  color: #999;
  margin-bottom: 30px;
}

p {font-size: 18px; color: #000000;}


main {
  margin: 40px 20px;
  max-width: 520px;
}


.aboutpage {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 80px 20px 80px 40px;
}

.aboutstuff {
  max-width: 500px;
}

.maxpicabout {
  width: 400px;
  max-width: 400px;
  height: auto;
}

main.projects-page {
  margin: 40px 20px 60px 20px;
  max-width: 100%;
}

.projects-row {
  display: flex;
  flex-direction: column;
}

.project-card {
  width: 100%;
  text-align: center;
}

.project-card img {
  border-radius: 10px;
  margin-bottom: 12px;
}

.project-card p {
  font-size: 18px;
  color: #333333;
}



/* https://getbootstrap.com/docs/5.0/layout/breakpoints/ */
/* I used the website above for breakpoints  */
@media (max-width: 576px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 24px;
  }

}

@media (min-width: 1200px) {
  main {
    margin: 40px 40px;
  }

  .aboutpage {
    margin: 80px 300px 80px 40px;
  }

  main.projects-page {
    max-width: 1200px;
    margin: 40px auto 80px;
    padding: 0 40px;
  }

  .projects-row {
    flex-direction: row;
    margin-bottom: 40px;
  }

  .project-card {
    width: 350px;
  }

  .project-card img {
    width: 350px;
    height: 260px;
  }
}

@media (min-width: 1400px) {
  main {
    margin: 40px 40px;
  }

  main.projects-page {
    max-width: 1350px; 
    margin: 40px 80px;
    padding: 0;
  }

  .projects-row {
    justify-content: flex-start;
    gap: 55px;
  }

  /* this is best way to center the text that i could do not sure how else maybe easier method. */
  .project-card {
    width: 402px;
  }

  .project-card img {
    width: 402px;
    height: 302px;
  }
}